{% extends "base.html" %}
{% load static %}
{% block title %}Supprimer Offre{% endblock %}

{% block sidebar_menu %}
{% if user.role == "student" %}
    <a href="{% url 'accounts:student_dashboard' %}" class="nav-item">
      <div class="nav-icon"><i class="fas fa-home"></i></div>
      <div class="nav-text">Dashboard</div>
    </a>                
    {% elif user.role == "doctor" %}
    <a href="{% url 'accounts:doctor_dashboard' %}" class="nav-item">
      <div class="nav-icon"><i class="fas fa-home"></i></div>
      <div class="nav-text">Dashboard</div>
    </a>              
    {% elif user.role == "chef" %}
    <a href="{% url 'accounts:chef_dashboard' %}" class="nav-item">
      <div class="nav-icon"><i class="fas fa-home"></i></div>
      <div class="nav-text">Dashboard</div>
    </a>            
    {% elif user.role == "responsable" %}
    <a href="{% url 'accounts:responsable_dashboard' %}" class="nav-item">
      <div class="nav-icon"><i class="fas fa-home"></i></div>
      <div class="nav-text">Dashboard</div>
    </a>                           
    {% endif %}

{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">

<div class="form-container" style="max-width:500px; background:#fff5f5;">
    <h2 class="form-title" style="color:#e74c3c;">Supprimer l'Offre</h2>

    <p style="text-align:center;">Voulez-vous vraiment supprimer :</p>

    <h3 style="text-align:center; margin-bottom:20px;">{{ offre.titre }}</h3>

    <form method="post" style="text-align:center;">
        {% csrf_token %}

        <button class="submit-btn" style="background:#e74c3c;">
            <i class="fas fa-trash"></i> Supprimer définitivement
        </button>

        <a href="{% url 'Stage_condi:liste_offre' %}" class="submit-btn" style="background:#95a5a6; margin-top:10px;">Annuler</a>
    </form>
</div>
{% endblock %}
