{% extends "base.html" %}
{% load static %}
{% block title %}Détails de l'Offre{% endblock %}

{% block sidebar_menu %}
{% if user.role == "student" %}
    <a href="{% url 'accounts:student_dashboard' %}" class="nav-item">
      <div class="nav-icon"><i class="fas fa-home"></i></div>
      <div class="nav-text">Dashboard</div>
    </a>                
    {% elif user.role == "doctor" %}
    <a href="{% url 'accounts:doctor_dashboard' %}" class="nav-item">
      <div class="nav-icon"><i class="fas fa-home"></i></div>
      <div class="nav-text">Dashboard</div>
    </a>              
    {% elif user.role == "chef" %}
    <a href="{% url 'accounts:chef_dashboard' %}" class="nav-item">
      <div class="nav-icon"><i class="fas fa-home"></i></div>
      <div class="nav-text">Dashboard</div>
    </a>            
    {% elif user.role == "responsable" %}
    <a href="{% url 'accounts:responsable_dashboard' %}" class="nav-item">
      <div class="nav-icon"><i class="fas fa-home"></i></div>
      <div class="nav-text">Dashboard</div>
    </a>                           
    {% endif %}

{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">

<div class="offre-card" style="max-width:600px; margin:auto;">
    <div class="offre-title">{{ offre.titre }}</div>

    <div class="offre-detail" style="font-size:15px;">
        {{ offre.description }}
    </div>

    <p style="margin-top:15px; color:#6c757d;">
        <i class="fas fa-calendar"></i>
        Du {{ offre.date_debut }} au {{ offre.date_fin }}
    </p>

    <div class="offre-btns">
        {% if user.is_authenticated and user.role == "chef" %}
        <a href="{% url 'Stage_condi:modifier_offre' offre.id %}" class="offre-edit">Modifier</a>
        {% elif user.is_authenticated and user.role == "student" %}
        <a href="{% url 'Stage_condi:postuler' offre.id %}" class="offre-postuler">Postuler</a>
         {% endif %}
        <a href="{% url 'Stage_condi:liste_offre' %}" class="offre-delete" style="background:#7f8c8d;">Retour</a>

    </div>
</div>
{% endblock %}
