body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/static/images/Design_sans_titre.png") ;
    font-family: 'Segoe UI', sans-serif;
}

/*.form-container {
    background: rgba(255, 255, 255, 0.10);
    padding: 50px 40px;
    width: 100%;
    margin: 0;
    max-width: 1500px;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.25);
}*/
.form-container {
    background: rgba(255, 255, 255, 0.10);
    padding: 50px 40px;
    width: 100%;
    margin: 0;
    max-width: 1700px; /* avant 1500px */
    border-radius: 20px;
    backdrop-filter: blur(12px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.25);
}


.form-header h1 {
    text-align: center;
    color: white;
    margin-bottom: 35px;
    font-size: 35px;
    font-weight: 700;
}

.auth-form {
    width: 100%;
}

.form-row {
    display: flex;
    gap: 40px;
    margin-bottom: 25px;
}

.form-group {
    flex: 1.3;
    display: flex;
    flex-direction: column;
}

.form-group label {
    color: white;
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 6px;
}

.form-group label i {
    font-size: 16px;
}

.form-group input {
    padding: 16px;
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.4);
    background: rgba(255,255,255,0.85);
}

.form-group input:focus {
    outline: none;
    border: 1px solid #764ba2;
    box-shadow: 0 0 8px rgba(118,75,162,0.5);
}

.submit-btn {
    width: 100%;
    padding: 16px;
    background: linear-gradient(135deg, #021a84, #82a5f7);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.submit-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(118,75,162,0.4);
}
select.input-field {
    padding: 16px;
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.4);
    background: rgba(255,255,255,0.85);
    color: #000;
}

select.input-field:focus {
    outline: none;
    border: 1px solid #764ba2;
    box-shadow: 0 0 8px rgba(118,75,162,0.5);
}
